.PromptList {
  width: 100%;
  display: grid;
  padding: 0 30px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  @include breakpoint(sm) {
    gap: 10px;
    padding: 10px;
  }

  &__Prompt {
    height: 200px;
    display: block;
  }

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include breakpoint(sm) {
    grid-template-columns: 1fr;
  }
}
